.input {
  width: 500px;
}
.pagination {
  float: right;
}
.position {
  position: relative;
  left: 1%;
}
.positions {
  position: relative;
  left: 2%;
}
.errMessage {
  color: red;
}
.search {
  float: right;
  border: none;
  outline: none;
  border-bottom: solid 3px green;
}