h1{
    text-align: center;
}
.color{
    color:rgba(60, 60, 53, 0.79)
}
.colors{
    color: #282c34;
}
.sub{
    float: right;
}
.position{
    display: flex;
}
.text{
    text-align: center;
}
.filed{
    width: 100%;
}
.erro{
    color: red;
}
.margin{
    margin: 10px;
}